<html>
  <head>
  </head>
  <body>
    <h1>Welcome to Real Blog!</h1>
    <form action="/abap">
      <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="제목을 입력해주세요.">
      <div class="form-group">
        <label for="exampleInputPassword1">내용</label>
        <input type="text" name="content" class="form-control" id="exampleInputPassword1" placeholder="내용을 입력해주세요.">
        <% if session[:email] %>
          <input type="hidden" name="email" value="<%= session[:email] %>" />
        <% else %>
          <input type="hidden" name="email" value="익명" />
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-body">
          <p>제목 : <%= post.title %></p>
          <p>작성자 : <%= post.email %></p>
          <p>내용 : <%= post.body %></p>
        </div>
      </div>
    <% end %>
  </body>
</html>
