<html>
  <head>
  </head>
  <body>
    <form action="/create">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">질문을 해주세요</label>
          <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="내용을 입력해 주세요."></textarea>
        </div>
      </div>
      <select name="name" class="form-control form-control-sm">
        <option value="익명">익명</option>
        <option value="<%= session[:email] %>">실명</option>
      </select>
      <button type="submit" class="btn btn-primary">질문하기</button>
    </form>

    <br>
    <br>

    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-body">
          <p>질문자 : <%= post.name %></p>
          <p>질문 : <%= post.content %></p>
        </div>
      </div>
    <% end %>

  </body>
</html>
