<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>글쓰기 창</title>
  </head>
  <body>
    <form action="/posts/create">
      제목 : <input type="text" name="title"> <br>
      내용 : <input type="text" name="content"> <br>
      <input type="submit">
    </form>
  </body>
</html>
