<footer class="footer">
  <div class="container">
    <span class="text-muted">by jinsol kim </span>
    <a href="https://www.github.com/solwish">https://www.github.com/solwish</a>
  </div>
</footer>
