<!-- Category -->
<div class="container g-py-100">
  <ul class="row no-gutters list-inline g-brd-y g-brd-gray-light-v3 g-px-0 mb-0">
    <!-- Category - List -->
    <li class="col-6 col-lg-3 list-inline-item u-block-hover g-brd-x g-brd-bottom g-brd-bottom-none--lg g-brd-gray-light-v3 g-mr-0">
      <a class="d-block g-bg-primary--hover g-text-underline--none--hover g-transition-0_3 g-px-50 g-pt-100 g-pb-50" href="#">
        <span class="d-inline-block g-color-text g-color-white-opacity-0_7--hover g-font-size-40 mb-2">
          <i class="icon-real-estate-077 u-line-icon-pro"></i>
        </span>
        <span class="d-block g-color-main g-color-white--hover g-font-weight-500 g-font-size-22">New Buildings</span>
        <span class="d-block g-color-text g-color-white--hover g-color-white-opacity-0_7--hover g-mb-70">in London</span>
        <span class="d-block g-color-main g-color-white--hover g-font-size-13">View More</span>
      </a>
    </li>
    <!-- End Category - List -->

    <!-- Category - List -->
    <li class="col-6 col-lg-3 list-inline-item u-block-hover g-brd-right g-brd-bottom g-brd-none--lg g-brd-gray-light-v3 g-mr-0">
      <a class="d-block g-bg-primary--hover g-text-underline--none--hover g-transition-0_3 g-px-50 g-pt-100 g-pb-50" href="#">
        <span class="d-inline-block g-color-text g-color-white-opacity-0_7--hover g-font-size-40 mb-2">
          <i class="icon-real-estate-050 u-line-icon-pro"></i>
        </span>
        <span class="d-block g-color-main g-color-white--hover g-font-weight-500 g-font-size-22">To New Comers</span>
        <span class="d-block g-color-text g-color-white--hover g-color-white-opacity-0_7--hover g-mb-70">in Neighborhood</span>
        <span class="d-block g-color-main g-color-white--hover g-font-size-13">View More</span>
      </a>
    </li>
    <!-- End Category - List -->

    <!-- Category - List -->
    <li class="col-6 col-lg-3 list-inline-item u-block-hover g-brd-x g-brd-gray-light-v3 g-mr-0">
      <a class="d-block g-bg-primary--hover g-text-underline--none--hover g-transition-0_3 g-px-50 g-pt-100 g-pb-50" href="#">
        <span class="d-inline-block g-color-text g-color-white-opacity-0_7--hover g-font-size-40 mb-2">
          <i class="icon-real-estate-070 u-line-icon-pro"></i>
        </span>
        <span class="d-block g-color-main g-color-white--hover g-font-weight-500 g-font-size-22">Cottages</span>
        <span class="d-block g-color-text g-color-white--hover g-color-white-opacity-0_7--hover g-mb-70">in Countryside</span>
        <span class="d-block g-color-main g-color-white--hover g-font-size-13">View More</span>
      </a>
    </li>
    <!-- End Category - List -->

    <!-- Category - List -->
    <li class="col-6 col-lg-3 list-inline-item u-block-hover g-brd-right g-brd-gray-light-v3 g-mr-0">
      <a class="d-block g-bg-primary--hover g-text-underline--none--hover g-transition-0_3 g-px-50 g-pt-100 g-pb-50" href="#">
        <span class="d-inline-block g-color-text g-color-white-opacity-0_7--hover g-font-size-40 mb-2">
          <i class="icon-real-estate-022 u-line-icon-pro"></i>
        </span>
        <span class="d-block g-color-main g-color-white--hover g-font-weight-500 g-font-size-22">To Owners</span>
        <span class="d-block g-color-text g-color-white--hover g-color-white-opacity-0_7--hover g-mb-70">of Properties</span>
        <span class="d-block g-color-main g-color-white--hover g-font-size-13">View More</span>
      </a>
    </li>
    <!-- End Category - List -->
  </ul>
</div>
<!-- End Category -->
