<!-- Rent Products -->
<div class="container g-pb-100">
  <!-- Heading -->
  <div class="text-center g-mb-50">
    <span class="u-icon-v1 u-icon-size--xl g-color-primary"><i class="icon-real-estate-015 u-line-icon-pro"></i></span>
    <h2>Properties for Rent</h2>
  </div>
  <!-- End Heading -->

  <div class="row g-mb-40">
    <div class="col-lg-8 g-mb-30">
      <!-- Products -->
      <article>
        <!-- Products - Carousel Image -->
        <div class="js-carousel"
             data-infinite="true"
             data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
             data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
             data-arrow-right-classes="fa fa-angle-right g-right-0">
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--01"
               data-src="<%= asset_path 'img-temp/900x400/img1.jpg' %>"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/900x400/img1.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--01"
               data-src="assets/img-temp/900x400/img2.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/900x400/img2.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--01"
               data-src="assets/img-temp/900x400/img3.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/900x400/img3.jpg" alt="Image Description">
          </div>
        </div>
        <!-- Products - Carousel Image -->

        <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
          <!-- Products - List of Details -->
          <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
              7 Bed rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
              5 Bath rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
              3,725 sqft
            </li>
          </ul>
          <!-- End Products - List of Details -->

          <!-- Products - Address -->
          <div class="g-pa-25">
            <h3 class="g-font-weight-600 g-font-size-16">Flat 60, Ross Green, South Lilyberg, Q7M 8ZV</h3>
            <p class="g-font-size-13 mb-4">Milan, Italy</p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
          </div>
          <!-- End Products - Address -->

          <!-- Products - List of Details -->
          <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
              $14,999<span class="g-font-size-13">/mo</span>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Add to Compare">
                <i class="icon-finance-149 u-line-icon-pro"></i>
              </a>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Save to Wishlist">
                <i class="icon-medical-022 u-line-icon-pro"></i>
              </a>
            </li>
          </ul>
          <!-- End Products - List of Details -->
        </div>
        <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
          See Details
          <i class="align-middle ml-2 fa fa-angle-right"></i>
        </a>
      </article>
      <!-- End Products -->
    </div>

    <div class="col-sm-6 col-lg-4 g-mb-30">
      <!-- Products -->
      <article>
        <!-- Products - Carousel Image -->
        <div class="js-carousel"
             data-infinite="true"
             data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
             data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
             data-arrow-right-classes="fa fa-angle-right g-right-0">
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--02"
               data-src="assets/img-temp/600x550/img1.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x550/img1.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--02"
               data-src="assets/img-temp/600x550/img2.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x550/img2.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--02"
               data-src="assets/img-temp/600x550/img3.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x550/img3.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--02"
               data-src="assets/img-temp/600x550/img4.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x550/img4.jpg" alt="Image Description">
          </div>
        </div>
        <!-- Products - Carousel Image -->

        <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
          <!-- Products - List of Details -->
          <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
              4 Bed rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
              3 Bath rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
              2,020 sqft
            </li>
          </ul>
          <!-- End Products - List of Details -->

          <!-- Products - Address -->
          <div class="g-pa-25">
            <h3 class="g-font-weight-600 g-font-size-16">90 Karl Walk, Port Layla, BL2 0UR</h3>
            <p class="g-font-size-13 mb-4">London, England</p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Excellent Estate</a></p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
          </div>
          <!-- End Products - Address -->

          <!-- Products - List of Details -->
          <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
              $7,800<span class="g-font-size-13">/mo</span>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Add to Compare">
                <i class="icon-finance-149 u-line-icon-pro"></i>
              </a>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Save to Wishlist">
                <i class="icon-medical-022 u-line-icon-pro"></i>
              </a>
            </li>
          </ul>
          <!-- End Products - List of Details -->
        </div>
        <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
          See Details
          <i class="align-middle ml-2 fa fa-angle-right"></i>
        </a>
      </article>
      <!-- End Products -->
    </div>

    <div class="col-sm-6 col-lg-4 g-mb-30">
      <!-- Products -->
      <article>
        <!-- Products - Carousel Image -->
        <div class="js-carousel"
             data-infinite="true"
             data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
             data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
             data-arrow-right-classes="fa fa-angle-right g-right-0">
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--03"
               data-src="assets/img-temp/600x450/img4.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img4.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--03"
               data-src="assets/img-temp/600x450/img8.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img8.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--03"
               data-src="assets/img-temp/600x450/img9.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img9.jpg" alt="Image Description">
          </div>
        </div>
        <!-- Products - Carousel Image -->

        <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
          <!-- Products - List of Details -->
          <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
              3 Bed rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
              2 Bath rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
              1,527 sqft
            </li>
          </ul>
          <!-- End Products - List of Details -->

          <!-- Products - Address -->
          <div class="g-pa-25">
            <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
            <p class="g-font-size-13 mb-4">London, England</p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
          </div>
          <!-- End Products - Address -->

          <!-- Products - List of Details -->
          <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
              $7,000<span class="g-font-size-13">/mo</span>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Add to Compare">
                <i class="icon-finance-149 u-line-icon-pro"></i>
              </a>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Save to Wishlist">
                <i class="icon-medical-022 u-line-icon-pro"></i>
              </a>
            </li>
          </ul>
          <!-- End Products - List of Details -->
        </div>
        <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
          See Details
          <i class="align-middle ml-2 fa fa-angle-right"></i>
        </a>
      </article>
      <!-- End Products -->
    </div>

    <div class="col-sm-6 col-lg-4 g-mb-30">
      <!-- Products -->
      <article>
        <!-- Products - Carousel Image -->
        <div class="js-carousel"
             data-infinite="true"
             data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
             data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
             data-arrow-right-classes="fa fa-angle-right g-right-0">
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--04"
               data-src="assets/img-temp/600x450/img5.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img5.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--04"
               data-src="assets/img-temp/600x450/img6.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img6.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--04"
               data-src="assets/img-temp/600x450/img7.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img7.jpg" alt="Image Description">
          </div>
        </div>
        <!-- Products - Carousel Image -->

        <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
          <!-- Products - List of Details -->
          <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
              1 Bed rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
              1 Bath rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
              905 sqft
            </li>
          </ul>
          <!-- End Products - List of Details -->

          <!-- Products - Address -->
          <div class="g-pa-25">
            <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
            <p class="g-font-size-13 mb-4">Edinburgh, Scotland</p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
          </div>
          <!-- End Products - Address -->

          <!-- Products - List of Details -->
          <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
              $1,200<span class="g-font-size-13">/mo</span>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Add to Compare">
                <i class="icon-finance-149 u-line-icon-pro"></i>
              </a>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Save to Wishlist">
                <i class="icon-medical-022 u-line-icon-pro"></i>
              </a>
            </li>
          </ul>
          <!-- End Products - List of Details -->
        </div>
        <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
          See Details
          <i class="align-middle ml-2 fa fa-angle-right"></i>
        </a>
      </article>
      <!-- End Products -->
    </div>

    <div class="col-sm-6 col-lg-4 g-mb-30">
      <!-- Products -->
      <article>
        <!-- Products - Carousel Image -->
        <div class="js-carousel"
             data-infinite="true"
             data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
             data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
             data-arrow-right-classes="fa fa-angle-right g-right-0">
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--05"
               data-src="assets/img-temp/600x450/img11.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img11.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--05"
               data-src="assets/img-temp/600x450/img10.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img10.jpg" alt="Image Description">
          </div>
          <div class="js-slide g-pos-rel">
            <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
               data-fancybox="lightbox-gallery--05"
               data-src="assets/img-temp/600x450/img12.jpg"
               data-speed="350"
               data-caption="Lightbox Gallery">
              <i class="icon-size-fullscreen"></i>
            </a>
            <img class="img-fluid" src="assets/img-temp/600x450/img12.jpg" alt="Image Description">
          </div>
        </div>
        <!-- Products - Carousel Image -->

        <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
          <!-- Products - List of Details -->
          <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
              2 Bed rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
              1 Bath rm.
            </li>
            <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
              <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
              1,348 sqft
            </li>
          </ul>
          <!-- End Products - List of Details -->

          <!-- Products - Address -->
          <div class="g-pa-25">
            <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
            <p class="g-font-size-13 mb-4">London, England</p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
            <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
          </div>
          <!-- End Products - Address -->

          <!-- Products - List of Details -->
          <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
            <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
              $2,350<span class="g-font-size-13">/mo</span>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Add to Compare">
                <i class="icon-finance-149 u-line-icon-pro"></i>
              </a>
            </li>
            <li class="list-inline-item col-2 g-px-0 mr-0">
              <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Save to Wishlist">
                <i class="icon-medical-022 u-line-icon-pro"></i>
              </a>
            </li>
          </ul>
          <!-- End Products - List of Details -->
        </div>
        <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
          See Details
          <i class="align-middle ml-2 fa fa-angle-right"></i>
        </a>
      </article>
      <!-- End Products -->
    </div>
  </div>

  <div class="text-center">
    <a class="btn g-color-text g-color-primary--hover g-bg-transparent g-font-weight-600 text-uppercase rounded-0" href="page-listing-1.html">
      <span class="align-middle g-color-primary g-font-size-20 g-pos-rel g-top-minus-2 mr-2">&#43;</span>
      See All Rent Listings
    </a>
  </div>
</div>
