<!-- Filters -->
<div class="container-fluid g-pb-20">
  <div class="row d-flex align-items-center">
    <div class="col-md-8 col-lg-6 g-mb-30">
      <div class="d-flex align-items-center">
        <h2 class="h6 g-font-weight-600 mr-4 mb-0">Show:</h2>

        <!-- Filters - List -->
        <ul class="list-inline g-bg-secondary g-pa-3 mb-0">
          <li class="list-inline-item mr-0">
            <a class="d-block active g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10" href="#">
              <i class="g-color-main mr-1 icon-grid"></i>
              Grid
            </a>
          </li>
          <li class="list-inline-item mr-0">
            <a class="d-block g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10" href="#">
              <i class="g-color-main mr-1 icon-list"></i>
              List
            </a>
          </li>
          <li class="list-inline-item mr-0">
            <a class="d-block g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10" href="#">
              <i class="g-color-main mr-1 icon-location-pin"></i>
              On the Map
            </a>
          </li>
        </ul>
        <!-- End Filters - List -->
      </div>
    </div>

    <div class="col-md-4 col-lg-6 g-mb-30">
      <div class="d-flex align-items-center float-md-right">
        <h2 class="h6 g-font-weight-600 mr-4 mb-0">Sort by:</h2>

        <!-- Input Group -->
        <div class="input-group-btn">
          <select class="js-custom-select u-select-v1 g-min-width-150 g-brd-none g-bg-secondary g-color-main g-color-primary--hover g-py-12" required
                  data-placeholder="Bestseller"
                  data-open-icon="fa fa-angle-down"
                  data-close-icon="fa fa-angle-up">
            <option></option>
            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="BE">Bestseller</option>
            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="TR">Trending</option>
            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="PR">Price low to high</option>
            <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="PR">price high to low</option>
          </select>
        </div>
        <!-- End Input Group -->
      </div>
    </div>
  </div>
</div>
<!-- End Filters -->

  <!-- Breadcrumbs & Search -->
  <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero" style="background-image: asset_url(assets/img/bg/map-sketch.jpg);">
    <div class="g-pos-rel g-z-index-1">
      <!-- Breadcrumbs -->
      <div class="container-fluid g-py-50">
        <ul class="u-list-inline g-font-weight-500 mb-2">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Listing</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>List View</span>
          </li>
        </ul>
        <h1 class="h2 mb-0">List View - Apartments and Rooms</h1>
      </div>
      <!-- End Breadcrumbs -->
    </div>
  </div>
  <!-- End Breadcrumbs & Search -->


<!-- List View -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-9 order-lg-2 g-mb-70">
      <!-- List Item -->
      <article class="row no-gutters g-mb-30">
        <div class="col-lg-5 g-bg-img-hero g-min-height-300" style="background-image: url(assets/img-temp/400x250/img15.jpg);"></div>

        <div class="col-lg-7">
          <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
            <!-- Products - List of Details -->
            <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                2 Bed rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                2 Bath rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                963 sqft
              </li>
            </ul>
            <!-- End Products - List of Details -->

            <!-- Products - Address -->
            <div class="g-pa-25">
              <h3 class="g-font-weight-600 g-font-size-16">Flat 60, Ross Green, South Lilyberg, Q7M 8ZV</h3>
              <p class="g-font-size-13 mb-4">Edinburgh, UK</p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">2 days ago</a></p>
            </div>
            <!-- End Products - Address -->

            <!-- Products - List of Details -->
            <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                $214,000
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Add to Compare">
                  <i class="icon-finance-149 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Save to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products - List of Details -->
          </div>
          <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
            See Details
            <i class="align-middle ml-2 fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <!-- List Item -->

      <!-- List Item -->
      <article class="row no-gutters g-mb-30">
        <div class="col-lg-5 g-bg-img-hero g-min-height-300" style="background-image: url(assets/img-temp/400x250/img18.jpg);"></div>

        <div class="col-lg-7">
          <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
            <!-- Products - List of Details -->
            <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                3 Bed rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                4 Bath rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                2,100 sqft
              </li>
            </ul>
            <!-- End Products - List of Details -->

            <!-- Products - Address -->
            <div class="g-pa-25">
              <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
              <p class="g-font-size-13 mb-4">New York, US</p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">3 days ago</a></p>
            </div>
            <!-- End Products - Address -->

            <!-- Products - List of Details -->
            <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                $344,999
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Add to Compare">
                  <i class="icon-finance-149 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Save to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products - List of Details -->
          </div>
          <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
            See Details
            <i class="align-middle ml-2 fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <!-- List Item -->

      <!-- List Item -->
      <article class="row no-gutters g-mb-30">
        <div class="col-lg-5 g-bg-img-hero g-min-height-300" style="background-image: url(assets/img-temp/400x250/img13.jpg);"></div>

        <div class="col-lg-7">
          <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
            <!-- Products - List of Details -->
            <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                7 Bed rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                5 Bath rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                3,725 sqft
              </li>
            </ul>
            <!-- End Products - List of Details -->

            <!-- Products - Address -->
            <div class="g-pa-25">
              <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
              <p class="g-font-size-13 mb-4">Liverpool, UK</p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">3 days ago</a></p>
            </div>
            <!-- End Products - Address -->

            <!-- Products - List of Details -->
            <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                $1,254,000
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Add to Compare">
                  <i class="icon-finance-149 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Save to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products - List of Details -->
          </div>
          <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
            See Details
            <i class="align-middle ml-2 fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <!-- List Item -->

      <!-- List Item -->
      <article class="row no-gutters g-mb-30">
        <div class="col-lg-5 g-bg-img-hero g-min-height-300" style="background-image: url(assets/img-temp/400x250/img17.jpg);"></div>

        <div class="col-lg-7">
          <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
            <!-- Products - List of Details -->
            <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                2 Bed rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                3 Bath rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                1,245 sqft
              </li>
            </ul>
            <!-- End Products - List of Details -->

            <!-- Products - Address -->
            <div class="g-pa-25">
              <h3 class="g-font-weight-600 g-font-size-16">90 Karl Walk, Port Layla, BL2 0UR</h3>
              <p class="g-font-size-13 mb-4">London, UK</p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">3 days ago</a></p>
            </div>
            <!-- End Products - Address -->

            <!-- Products - List of Details -->
            <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                $344,999
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Add to Compare">
                  <i class="icon-finance-149 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Save to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products - List of Details -->
          </div>
          <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
            See Details
            <i class="align-middle ml-2 fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <!-- List Item -->

      <!-- List Item -->
      <article class="row no-gutters g-mb-30">
        <div class="col-lg-5 g-bg-img-hero g-min-height-300" style="background-image: url(assets/img-temp/400x250/img20.jpg);"></div>

        <div class="col-lg-7">
          <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
            <!-- Products - List of Details -->
            <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                3 Bed rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                4 Bath rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                2,100 sqft
              </li>
            </ul>
            <!-- End Products - List of Details -->

            <!-- Products - Address -->
            <div class="g-pa-25">
              <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
              <p class="g-font-size-13 mb-4">New York, US</p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">3 days ago</a></p>
            </div>
            <!-- End Products - Address -->

            <!-- Products - List of Details -->
            <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                $450,000
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Add to Compare">
                  <i class="icon-finance-149 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Save to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products - List of Details -->
          </div>
          <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
            See Details
            <i class="align-middle ml-2 fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <!-- List Item -->

      <!-- List Item -->
      <article class="row no-gutters g-mb-30">
        <div class="col-lg-5 g-bg-img-hero g-min-height-300" style="background-image: url(assets/img-temp/400x250/img22.jpg);"></div>

        <div class="col-lg-7">
          <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
            <!-- Products - List of Details -->
            <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                5 Bed rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                7 Bath rm.
              </li>
              <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                3,200 sqft
              </li>
            </ul>
            <!-- End Products - List of Details -->

            <!-- Products - Address -->
            <div class="g-pa-25">
              <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
              <p class="g-font-size-13 mb-4">San Francisco, US</p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
              <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">3 days ago</a></p>
            </div>
            <!-- End Products - Address -->

            <!-- Products - List of Details -->
            <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
              <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                $920,000
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Add to Compare">
                  <i class="icon-finance-149 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item col-2 g-px-0 mr-0">
                <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Save to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products - List of Details -->
          </div>
          <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="page-single-item-1.html">
            See Details
            <i class="align-middle ml-2 fa fa-angle-right"></i>
          </a>
        </div>
      </article>
      <!-- List Item -->

      <div class="row">
        <div class="col-lg-12">
          <!-- Pagination -->
          <nav class="text-center g-mt-30" aria-label="Page Navigation">
            <ul class="list-inline">
              <li class="list-inline-item float-sm-left">
                <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Previous">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left g-mr-5"></i>
                    Previous
                  </span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="list-inline-item g-hidden-sm-down">
                <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--active g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">1</a>
              </li>
              <li class="list-inline-item g-hidden-sm-down">
                <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">2</a>
              </li>
              <li class="list-inline-item g-hidden-sm-down">
                <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">3</a>
              </li>
              <li class="list-inline-item g-hidden-sm-down">
                <span class="g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19">...</span>
              </li>
              <li class="list-inline-item g-hidden-sm-down">
                <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">15</a>
              </li>
              <li class="list-inline-item float-sm-right">
                <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Next">
                  <span aria-hidden="true">
                    Next
                    <i class="fa fa-angle-right g-ml-5"></i>
                  </span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Pagination -->
        </div>
      </div>
    </div>

    <div class="col-md-5 col-lg-3 order-lg-1 g-mb-70">
      <!-- Calculator -->
      <div class="g-bg-secondary g-pa-5 g-mb-30">
        <div class="g-bg-white g-pa-15">
          <h2 class="h6 g-font-weight-600 mb-4">Mortgage Calculator</h2>

          <form>
            <!-- Text Input with Right Appended Icon -->
            <div class="form-group g-mb-20">
              <div class="input-group g-brd-primary--focus">
                <div class="input-group-addon d-flex align-items-center g-brd-gray-light-v3 g-color-gray-light-v1 g-bg-white g-font-size-12 rounded-0">
                  <i class="g-font-style-normal">&#36;</i>
                </div>
                <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Total Amount">
              </div>
            </div>
            <!-- End Text Input with Right Appended Icon -->

            <!-- Text Input with Right Appended Icon -->
            <div class="form-group g-mb-20">
              <div class="input-group g-brd-primary--focus">
                <div class="input-group-addon d-flex align-items-center g-brd-gray-light-v3 g-color-gray-light-v1 g-bg-white g-font-size-12 rounded-0">
                  <i class="g-font-style-normal">&#36;</i>
                </div>
                <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Down Payment">
              </div>
            </div>
            <!-- End Text Input with Right Appended Icon -->

            <!-- Text Input with Right Appended Icon -->
            <div class="form-group g-mb-20">
              <div class="input-group g-brd-primary--focus">
                <div class="input-group-addon d-flex align-items-center g-brd-gray-light-v3 g-color-gray-light-v1 g-bg-white g-font-size-12 rounded-0">
                  <i class="g-font-style-normal">&#37;</i>
                </div>
                <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Interest Rate">
              </div>
            </div>
            <!-- End Text Input with Right Appended Icon -->

            <!-- Select Date Range -->
            <div class="form-group mb-20">
              <!-- Datepicker -->
              <div class="input-group g-brd-primary--focus">
                <div class="input-group-addon d-flex align-items-center g-brd-gray-light-v3 g-color-gray-light-v1 g-bg-white rounded-0">
                  <i class="icon-calendar"></i>
                </div>
                <input id="datepickerFrom" class="form-control form-control-md u-datepicker-v1 g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-11" type="text" placeholder="Start date" data-range="true" data-to="datepickerTo">
              </div>
              <!-- End Datepicker -->
            </div>
            <!-- Select Date Range -->

            <!-- Input Group -->
            <div class="input-group-btn g-mb-20">
              <select class="js-custom-select w-100 u-select-v1 g-brd-gray-light-v3 g-color-gray-dark-v5 g-color-primary--hover g-font-weight-500 g-py-10" required
                      data-placeholder="Monthly"
                      data-open-icon="fa fa-angle-down"
                      data-close-icon="fa fa-angle-up">
                <option></option>
                <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="MO">Monthly</option>
                <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="DA">Daily</option>
                <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="WE">Weekly</option>
                <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="YE">Yearly</option>
              </select>
            </div>
            <!-- End Input Group -->

            <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-35 g-py-12" type="submit">Calculate</button>
          </form>
        </div>
      </div>
      <!-- End Calculator -->

      <!-- Property Status -->
      <div class="g-bg-secondary g-pa-5 g-mb-30">
        <div class="g-bg-white g-pa-15">
          <h2 class="h6 g-font-weight-600 mb-4">Property Status</h2>

          <ul class="list-unstyled g-font-weight-500 mb-0">
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> For Rent</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(53)</span>
            </li>
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> For Sale</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(38)</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Property Status -->

      <!-- Property Type -->
      <div class="g-bg-secondary g-pa-5 g-mb-30">
        <div class="g-bg-white g-pa-15">
          <h2 class="h6 g-font-weight-600 mb-4">Property Type</h2>

          <ul class="list-unstyled g-font-weight-500 mb-0">
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> Apartment</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(27)</span>
            </li>
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> Loft</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(2)</span>
            </li>
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> Lease</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(12)</span>
            </li>
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> Multi Family Home</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(9)</span>
            </li>
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> Single Family Home</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(19)</span>
            </li>
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> Studio</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(5)</span>
            </li>
            <li class="g-py-2">
              <a href="#"><i class="mr-1 fa fa-caret-right"></i> Villa</a>
              <span class="float-right g-color-gray-dark-v5 g-font-size-13">(10)</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Property Type -->

      <!-- Recently Viewed -->
      <div class="g-bg-secondary g-pa-5 g-mb-30">
        <div class="g-bg-white g-pa-15">
          <h2 class="h6 g-font-weight-600 mb-4">Recently Viewed</h2>

          <ul class="list-unstyled g-font-weight-500 mb-0">
            <!-- Recently Viewed - Products -->
            <li class="g-brd-bottom g-brd-gray-light-v3 g-pb-30">
              <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img1.jpg" alt="Image Description">
              <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="page-single-item-1.html">Comfortable Room in LA</a></h3>
              <span class="d-block g-color-text g-font-weight-600 mb-2">$3,000/mo</span>
              <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                <li class="list-inline-item">1 bed</li>
                <li class="list-inline-item">&#8226;</li>
                <li class="list-inline-item">1 bat</li>
                <li class="list-inline-item">&#8226;</li>
                <li class="list-inline-item">900 sqft</li>
              </ul>
            </li>
            <!-- End Recently Viewed - Products -->

            <!-- Recently Viewed - Products -->
            <li class="g-brd-bottom g-brd-gray-light-v3 g-py-30">
              <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img2.jpg" alt="Image Description">
              <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="page-single-item-1.html">Studio in LA</a></h3>
              <span class="d-block g-color-text g-font-weight-600 mb-2">$2,000/mo</span>
              <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                <li class="list-inline-item">1 bed</li>
                <li class="list-inline-item">&#8226;</li>
                <li class="list-inline-item">1 bat</li>
                <li class="list-inline-item">&#8226;</li>
                <li class="list-inline-item">855 sqft</li>
              </ul>
            </li>
            <!-- End Recently Viewed - Products -->

            <!-- Recently Viewed - Products -->
            <li class="g-py-30">
              <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img3.jpg" alt="Image Description">
              <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="page-single-item-1.html">A Room in LA</a></h3>
              <span class="d-block g-color-text g-font-weight-600 mb-2">$1,000/mo</span>
              <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                <li class="list-inline-item">1 bed</li>
                <li class="list-inline-item">&#8226;</li>
                <li class="list-inline-item">1 bat</li>
                <li class="list-inline-item">&#8226;</li>
                <li class="list-inline-item">657 sqft</li>
              </ul>
            </li>
            <!-- End Recently Viewed - Products -->
          </ul>
        </div>
      </div>
      <!-- End Recently Viewed -->
    </div>
  </div>
</div>
<!-- List View -->


<% content_for :scripts do %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');

      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of range slider
      $.HSCore.components.HSSlider.init('#rangeSlider1');

      // initialization of custom select
      $.HSCore.components.HSSelect.init('.js-custom-select');

      // initialization of carousel
      $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

      // initialization of popups
      $.HSCore.components.HSPopup.init('.js-fancybox');

      // initialization of datepicker
      $.HSCore.components.HSDatepicker.init('#datepickerFrom');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>
<% end %>
