<html>
  <head>
    <title>Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if session[:email] %>
      <p><%= session[:email] %> 님 환영합니다<p>
    <% end %>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">홈으로</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/new">글쓰기</a>
      </li>
      <% if session[:email] %>
        <a class="nav-link" href="/logout">로그아웃</a>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/signup">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">로그인</a>
        </li>
      <% if session[:email] && User.first(:email => session[:email]).is_admin %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">회원 관리</a>
        </li>
      <% end %>
        <br>
      <% end %>
      <% if session[:email] && User.first(:email => session[:email]).is_admin %>
        <a class="nav-link" href="/admin">관리자</a>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
