<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>다음웹툰 볼래용</title>
  </head>
  <body>
    <a href="/today">오늘 웹툰 보기</a>
    <a href="/week/mon">월요일</a>
    <a href="/week/tue">화요일</a>
    <a href="/week/wed">수요일</a>
    <a href="/week/thu">목요일</a>
    <a href="/week/fri">금요일</a>
    <a href="/week/sat">토요일</a>
    <a href="/week/sun">일요일</a>
  </body>
</html>
