<html>
  <head>
    <meta charset="utf-8">
    <title>Fake Bing</title>
  </head>
  <body>
    <form action="https://www.bing.com/search" method="get">
      Bing 검색: <input type="text" name="q"><br>
      <input type="submit" value="검색하기">
    </form>
  </body>
</html>
