<html>
  <head>
    <meta charset="utf-8">
    <title>Fake Naver</title>
  </head>
  <body>
    <form action="https://search.naver.com/search.naver" method="get">
      네이버 검색: <input type="text" name="query"><br>
      <input type="submit" value="검색하기">
    </form>
    <form action="https://search.daum.net/search" method="get">
      다음 검색: <input type="text" name="q"><br>
      <input type="submit" value="검색하기">
    </form>
    <form action="https://www.google.co.kr/search" method="get">
      구글 검색: <input type="text" name="q"><br>
      <input type="submit" value="검색하기">
    </form>
    <form action="http://www.op.gg/summoner/" method="get">
      OPGG 검색: <input type="text" name="userName"><br>
      <input type="submit" value="검색하기">
    </form>
  </body>
</html>
