<html>
  <head>
    <meta charset="utf-8">
    <title>Voting!</title>
  </head>
  <body>
    <h1>투표앱에 오신 것을 환영합니다 !</h1>
    <form action="/vote">
      이름: <input type="text" name="name"><br>
      <input type="radio" name="vote" value="1" checked> 1시간<br>
      <input type="radio" name="vote" value="2"> 2시간<br>
      <input type="radio" name="vote" value="3"> 3시간<br>
      <input type="submit">
    </form>
  </body>
</html>
