<html>
  <head>
    <meta charset="utf-8">
    <title>Voting!</title>
  </head>
  <body>
    <h1>투표 결과</h1>
    <!-- <% #@list.each do |row| %>
      <p><%#= row[0] %>님은 <%#= row[1] %>에 투표하셨습니다.</p>
    <%# end %> -->
      <p>1시간에 투표한 사람: <%= @count["1"] %></p>
      <p>2시간에 투표한 사람: <%= @count["2"] %></p>
      <p>3시간에 투표한 사람: <%= @count["3"] %></p>
      <%#= @count.inspect %>
  </body>
</html>
