<html>
  <head>
    <meta charset="utf-8">
    <title>Voting!</title>
  </head>
  <body>
    <h1>투표가 완료되었습니다!</h1>
    <p>"<%= @name %>님은 <%= @vote %>시간에 투표하셨습니다."</p>
    <a href="/">홈으로</a>
    <a href="/result">결과보기</a>
  </body>
</html>
