alert("페이지가 로드되었습니다.");
$('.boards').append(`
  <% @boards.each do |board| %>
    <tr class="board" data-id="<%= board.id %>">
      <td><%= board.id %></td>
      <td class="title" width="70%"><%= board.title %></td>
      <td><%= board.user.email %></td>
    </tr>
  <% end %>
`)
